#include "stdafx.h"
#include <iostream>
#include <string>

using namespace std;


int main()
{

	double percent;
	char letter;

	cout << "What percent did you get?: ";
	cin >> percent;

	if (percent > 90)
		letter = 'A';

	else if (percent > 80)
		letter = 'B';

	else if (percent > 70)
		letter = 'C';

	else if (percent > 60)
		letter = 'D';

	else if (percent > 50)
		letter = 'E';

	else
		letter = 'F';

	cout << "your grade is " << letter << endl;




	



	return 0;
}
